<div class="editprofile_main">
  
  <h1>Set Up My Awesome Mission</h1>
  
  <div class ="container">
    <%= form_for(resource, as: resource_name, :url => { :controller => "profile" , :action => "update", :id => @user }, html: { method: :put }) do |f| %>
      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true , class: "edit_field", :value => @username, spellcheck: "false" %>
      </div>
      <div class="field"> 
        <%= f.label :current_mission%><br />
        <% if @usermission == "" %>
          <%= f.text_field :mission, class: "edit_field", :value => "Juno - location : JUP", spellcheck: "false" %>
        <% else %>
          <%= f.text_field :mission, class: "edit_field", :value => @usermission, spellcheck: "false" %>
        <% end %>
      </div>
      <div class="field">
        <%= f.label :mission_schedule %><br />
        <% if @usermission == "" %>
        <%= f.text_area :story, class: "edit_area" , :value => 
          " Launch @ August 5, 2011
          - Deep Space Maneuvers @ August/September 2012
          - Earth flyby gravity assist @ October 2013
          - Jupiter arrival @ July 2016
          - Spacecraft will orbit Jupiter for 20 months (37 orbits)
          - End of mission (deorbit into Jupiter) @ February 2018" %>
        <% else %>
        <%= f.text_area :story, class: "edit_area" , :value => @userstory %>
        <% end %>
      </div>
      <div class="field">
        <%= f.label :target_name %><br />
        <% if @usertarget == "" %>
          <%= f.text_field :img, class: "edit_field" ,:value => "Enter your target's name", spellcheck: "false" %>
        <% else %>
          <%= f.text_field :img, class: "edit_field" ,:value => @usertarget, spellcheck: "false" %>
        <% end %>
      </div>
      <div class="actions">
        <%= f.submit "Update" , id: "edit_btn"%>
      </div>
      <br>
      <%= link_to "Back", authenticated_root_path , id: "back_btn"  %>
    <% end %> 
  </div>
</div>