<script type="text/javascript" src="assets/show.js"></script>
<script type="text/javascript" src="assets/sign_up.js"></script>
<div class="show_main">
	<nav class="showhead">
		<table class="tablenav">
			<tr>
				<td style="width:27%;"><iframe src="http://free.timeanddate.com/clock/i590km8t/n136/fcfff/tct/pct/ftb/tt0/tw1/tm1/td2/ta1/tb4" frameborder="0" width="125" height="34" allowTransparency="true" id="clock"></iframe></td>
				<td style="width:46%;"><h2 style="text-align:center;">SNASA <%= @useridstr %> Ground Control</h2></td>
				<td style="width:27%;">
					<ul class ="information">
						<li>Current IP : <%= @userip %></li>
						<li>Last IP : <%= @userlastip %></li>
						<li>Last login time : <%= @userlastsignint %></li>
					</ul>
				</td>
			</tr>
		</table>
	</nav>
	<nav class="headblocker"></nav>
	<table class= "container1">
		<tr><td></td><td><h2 style ="margin:0px">Secret NASA</h2></td></tr>
		<tr>
			<td style="width:70%;">
				<div class="terminal" id="t">
					<p> Welcome to ground control center <%= @useridstr %> : </p>
					<div id="space"></div>
					<p>SNASA:RDGC$ <input type="text" id= "i1" autocomplete= "off" spellcheck="false"></p>
					<br><br><br>
					<p id= "o2">test</p>
				</div>
			</td>
			<td style="width:30%;">
				<div id ="msgbox">
				</div>
			</td>
		</tr>
		<tr>
			<td></td>
			<td><br><br><br><br><h6 id="trademark">SNASA &reg;</h6></td>
		</tr>
	</table>
	<div class= "container2">
		<div class="main">
		<ul>
			<li><h2 id="username"><%= @username %></h2></li>
			<li><h2 id="currentmission"><%= @usermission %></h2></li>
			<li><h2 id="schedule"><%= @userstory %></h2></li>
			<li><h2 id="target"><%= @usertarget %></h2></li>
		</ul>
		</div>
	</div>
	<div class ="container3">
	    <div class ="instruction" style = "background:black">
	      <table style = "width:100%;">
	        <tr>
	          <td style="width:20%"><img id="laststep" src="http://i.imgur.com/FZfE6vQ.png?1"
	            style="height:100px;cursor: pointer; cursor: hand;"></td>
	          <td style="width:60%"><img id="instructionimg" src="http://i.imgur.com/eufzQ1S.jpg?1" /></td>
	          <td style="width:20%"><img id="nextstep" src="http://i.imgur.com/Zz08Xfa.png?1"
	            style="height:100px;cursor: pointer; cursor: hand;"></td>
	        </tr>
	      </table>
	      <div class ="instructionflow" id ="flowarea">
	        <img class="instructionsimg" src="http://i.imgur.com/eufzQ1S.jpg?1" id="1" />
	        <img class="instructionsimg" src="http://i.imgur.com/FigZcLa.jpg?1" id="2" />
	        <img class="instructionsimg" src="http://i.imgur.com/Guwjc4E.png?1" id="3" />
	        <img class="instructionsimg" src="http://i.imgur.com/E2gE3S6.png?1" id="4" />
	        <img class="instructionsimg" src="http://i.imgur.com/KH30yAE.jpg?1" id="5" />
	        <img class="instructionsimg" src="http://i.imgur.com/7GxMJcW.png?1" id="6" />
	        <img class="instructionsimg" src="http://i.imgur.com/6rktzzA.png?1" id="7" />
	        <img class="instructionsimg" src="http://i.imgur.com/pz9dbVl.png?1" id="8" />
	        <img class="instructionsimg" src="http://i.imgur.com/4sKsn2x.jpg?1" id="9" />
	        <img class="instructionsimg" src="http://i.imgur.com/bc6WiXJ.jpg?1" id="10" />
	        <img class="instructionsimg" src="http://i.imgur.com/p0eRmPk.jpg?1" id="11" />
	        <img class="instructionsimg" src="http://i.imgur.com/mdJXJ6c.png?1" id="12" />
	      </div>
	    </div>
  	</div>
  	<div class ="container4" style="background-color:white; width:90%; margin-left:30px;">
  		<p style="color:black;">basic command : hello world<br><br>
  								configured command : whoami, gc mission, gc schedule<br><br>
  								system related command :<br>
  								show setting, hide setting, show help,<br>
  								hide help, show code, hide code, clear<br>
  								perfect working command : gc location<br><br>
  								desperate command :<br>
  								gc i love you, gc "target name" (without quotation mark)</p>
  	</div>
	<div class="footer">
	<%= link_to 'Profile Setting' , edit_profile_path(current_user) , class: "nav" %>

	<%= link_to 'Account Setting' , edit_user_registration_path  , class: "nav" %>

	<a href="http://khanwhlee.blogspot.tw/" class="nav">About Me</a>
	</div>
</div>