<script type="text/javascript" src="assets/show.js"></script>
<script>


</script>
<div class="mainpage" id="mainpage">
	<div class="header">
		<div class="row">
	      <div class="col-xs-3">
	        <img src="assets/snasa.png" id="snasaimg"/>
	      </div>
	      <div class="col-xs-9">
	        <ul>
	          <li>
          		<img src="assets/profile.png" class="tnav"/>
          		<a href="http://www.youtube.com/embed/NBDA21Vc-5Y" class="tnav">Tutorial</a>
	          </li>
	          <li>
          		<img src="assets/profile.png" class="tnav"/>
          		<%= link_to 'Profile' , edit_profile_path(current_user), class: "tnav" %>
	          </li>
	          <li>
          		<img src="assets/profile.png" class="tnav"/>
          		<%= link_to 'Account' , edit_user_registration_path, class: "tnav" %>
	          </li>
	        </ul>
	      </div>
	    </div>
	</div>
	<div class="main_container">
		<div class="comhead">
			<div class="row">
				<div class="col-md-6" style="pointer-events: none;">
					<iframe src="http://free.timeanddate.com/clock/i59gfsyv/n1067/fs18/fc0f0/tc000/ftb/pa8/tt0/tw1/th1/tb2" frameborder="0" width="250" height="30" style="margin-left=-30px;"></iframe>
				</div>
				<div class="col-md-6" style="text-align:right;">
					<p><%= @userip %></p>

				</div>
			</div>
		</div>
		<div class="mobhead">
			<div class="row">
				<div class="col-xs-6" style="pointer-events: none;">
					<iframe src="http://free.timeanddate.com/clock/i59hebzp/n241/fs36/fc02f902/tc000/ahl/ftb/pa8/tt0/tw1/th1/tb2" frameborder="0" width="602" height="58"></iframe>
				</div>
				<div class="col-xs-6" style="text-align:right;">
					<p><%= @userip %></p>
				</div>
			</div>
		</div>
		<div class="information_container">
			<div id="instruction"><!--use absolute from top slide down-->
					<p id="instructione">
					This introduction leads you to perfectly use this web app.<br>
					We have four kinds of commands: (give it a try)<br>
					-static command:      <font color="#02f902">hello world , show setting, hide setting , help</font><br>
					-changable command:   <font color="#02f902">whoami , gc mission , gc schedule</font><br>
					<font color="#ff2845">**the response can be set in profile by yourself.</font><br>
					-dynamic command:     <font color="#02f902">gc location , gc route</font><br>
					-desperate command:   <font color="#02f902">gc hot girl , gc i love you</font><br>
					<font color="#ff2845">**use when you know there is no any chance you can get her.</font><br></p>
					<p id="instructionc">
					以下將介紹如何使用這個雲端終端機。<br>
					我們一共有四種指令：（請試試看）<br>
					-靜態指令：   <font color="#02f902">hello world , show setting, hide setting , help</font><br>
					-客製指令：   <font color="#02f902">whoami , gc mission , gc schedule</font><br>
					-動態指令：   <font color="#02f902">gc location , gc route</font><br>
					-破釜沈舟：   <font color="#02f902">gc hot girl , gc i love you</font><br>
					**在知道已經<font color="#ff2845">徹底居掉</font>的時候試試看賣萌<br>
					"hide help" to continue...<br></p>
					</div>
			<div class="row" style="height:100%;">
				<div class="col-md-6 col-xs-6" style="height:100%">
					<div class="panel" id="p1img">
					</div>
				</div>
				<div class="col-md-6 col-xs-6" style="height:100%;">
					<div class="row" style="height:50%;width:100%;">
						<div class="panel" id="p2img">
						</div>
					</div>
					<div class="row" style="height:17%;width:100%;">
						<div class="panel" id="p3img">
						</div>
					</div>
					<div class="row" style="height:17%;width:100%;">
						<div class="panel" id="p4img">
						</div>
					</div>
					<div class="row" style="height:16%;width:100%;">
						<div class="panel" id="p5img">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="terminal_container">
			<div id="scrollimg" style="width:100%;display:none;">
				<img style="width:100%" src="assets/scrollimg.png" />
			</div>
			<div class="terminal" id="t">
				<!--for first time login-->
				<% if @usersignincount < 2 %>
					<p class="help">Welcome to ground control centre, your login ID is <%= @useridstr %>. Type "help" in command line for help. (This message is only shown for first time login)</p>
					<p class="help">您好，您的登入編號為 <font color="#ff2845"><%= @useridstr %></font>。
						在指令列輸入help已獲取使用教學，此訊息將不再顯示。</p>
				<% end %>
				<p>GC_Secure_System_v2.525 for_<%= @useridstr %> : </p>
				<div id="space" style="width:100%">
				</div>
				<p id= "inputc">$ <input type="text" id= "input" autocomplete= "off" spellcheck="false"></p>
				<p id= "inputm">$ <input type="text" id= "inputmi" autocomplete= "off" spellcheck="false" disabled="disabled"></p>
				<p id= "o2">test</p>
			</div>
		</div>
	</div>
	<div class="key_container">
		<input type="text" id= "inputarea" autocomplete= "off" spellcheck="false" placeholder="Command here">
	</div>
	<div class="main" style="display:none;">
		<ul>
			<li><h2 id="username"><%= @username %></h2></li>
			<li><h2 id="currentmission"><%= @usermission %></h2></li>
			<li><h2 id="schedule"><%= @userschedule %></h2></li>
			<li><h2 id="target"><%= @usertarget %></h2></li>
		</ul>
	</div>
</div>