<script type="text/javascript" src="assets/show.js"></script>
<div class="show_main">
	<nav class="showhead">
		<table class="tablenav">
			<tr>
				<td style="width:27%;"><iframe src="http://free.timeanddate.com/clock/i590km8t/n136/fcfff/tct/pct/ftb/tt0/tw1/tm1/td2/ta1/tb4" frameborder="0" width="125" height="34" allowTransparency="true" id="clock"></iframe></td>
				<td style="width:46%;"><h2 style="text-align:center;">SNASA 00<%= @userid %> Ground Control</h2></td>
				<td style="width:27%;">
					<ul class ="information">
						<li>Current IP : <%= @userip %></li>
						<li>Last IP : <%= @userlastip %></li>
						<li>Last login time : <%= @userlastsignint %></li>
					</ul>
				</td>
			</tr>
		</table>
	</nav>
	<nav class="headblocker"></nav>

	<div class= "container1">

		<div class="terminal">
			<p> Welcome to ground control center 00<%= @userid %> : </p>
			<div id="space"></div>
			<p>SNASA:RDGC$ <input type="text", class= "input", id= "i1", autocomplete= "off", spellcheck="false"></input></p>
			<p class= "output" id= "o2">test</p>
		</div>
		<br>
		<h6 id="trademark">SNASA &reg;</h6>
	</div>
	<div class= "container2">
		<div class="main">
		<ul>
			<li><h2 id="username"><%= @username %></h2></li>
			<li><h2 id="currentmission"><%= @usermission %></h2></li>
			<li><h2 id="description"><%= @userstory %></h2></li>
		</ul>
		</div>
	</div>
	<div class="footer">
	<%= link_to 'Profile Setting' , edit_profile_path(current_user) , class: "nav" , id: "test"%>

	<%= link_to 'Account Setting' , edit_user_registration_path  , class: "nav" %>
	</div>
</div>