<script type="text/javascript" src="assets/show.js"></script>
<div class="show_main">
	<nav class="showhead">
		<table class="tablenav">
			<tr>
				<td style="width:27%;"><iframe src="http://free.timeanddate.com/clock/i590km8t/n136/fcfff/tct/pct/ftb/tt0/tw1/tm1/td2/ta1/tb4" frameborder="0" width="125" height="34" allowTransparency="true" id="clock"></iframe></td>
				<td style="width:46%;"><h2 style="text-align:center;">SNASA <%= @useridstr %> Ground Control</h2></td>
				<td style="width:27%;">
					<ul class ="information">
						<li>Current IP : <%= @userip %></li>
						<li>Last IP : <%= @userlastip %></li>
						<li>Last login time : <%= @userlastsignint %></li>
					</ul>
				</td>
			</tr>
		</table>
	</nav>
	<nav class="headblocker"></nav>
	<table class= "container1">
		<tr><td></td><td><h2 style ="margin:0px">Secret NASA</h2></td></tr>
		<tr>
			<td style="width:70%;">
				<div class="terminal" id="t">
					<p> Welcome to ground control center <%= @useridstr %> : </p>
					<div id="space"></div>
					<p>SNASA:RDGC$ <input type="text" id= "i1" autocomplete= "off" spellcheck="false"></p>
					<br><br><br>
					<p id= "o2">test</p>
				</div>
			</td>
			<td style="width:30%;">
				<div id ="msgbox">
				</div>
			</td>
		</tr>
		<tr>
			<td></td>
			<td><br><br><br><br><h6 id="trademark">SNASA &reg;</h6></td>
		</tr>
	</table>
	<div class= "container2">
		<div class="main">
		<ul>
			<li><h2 id="username"><%= @username %></h2></li>
			<li><h2 id="currentmission"><%= @usermission %></h2></li>
			<li><h2 id="description"><%= @userstory %></h2></li>
		</ul>
		</div>
	</div>
	<div class ="container3">
	    <div class ="instruction" style = "background:black">
	      <table>
	        <tr>
	          <td style="width:20%"><img id="laststep" src="http://i.imgur.com/FZfE6vQ.png?1"
	            style="height:100px;cursor: pointer; cursor: hand;"></td>
	          <td style="width:60%"><img id="instructionimg" src="http://i.imgur.com/yFNZGUS.jpg?1" /></td>
	          <td style="width:20%"><img id="nextstep" src="http://i.imgur.com/Zz08Xfa.png?1"
	            style="height:100px;cursor: pointer; cursor: hand;"></td>
	        </tr>
	      </table>
	      <div class ="instructionflow" id ="flowarea">
	        <img class="instructionsimg" src="http://i.imgur.com/yFNZGUS.jpg?1" id="1" />
	        <img class="instructionsimg" src="http://i.imgur.com/8m6uiZl.jpg?1" id="2" />
	        <img class="instructionsimg" src="http://i.imgur.com/ZD6GYCi.jpg?1" id="3" />
	        <img class="instructionsimg" src="http://i.imgur.com/ZcTUnMd.jpg?1" id="4" />
	        <img class="instructionsimg" src="http://i.imgur.com/GWun4wP.jpg?1" id="5" />
	        <img class="instructionsimg" src="http://i.imgur.com/LMofTYo.jpg?1" id="6" />
	        <img class="instructionsimg" src="http://i.imgur.com/58YoGFM.jpg?1" id="7" />
	        <img class="instructionsimg" src="http://i.imgur.com/NmASZ2V.jpg?1" id="8" />
	      </div>
	    </div>
  	</div>
	<div class="footer">
	<%= link_to 'Profile Setting' , edit_profile_path(current_user) , class: "nav" , id: "test"%>

	<%= link_to 'Account Setting' , edit_user_registration_path  , class: "nav" %>
	</div>
</div>